* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: #000;
}

body._lock {
  overflow: hidden;
}

.no-webp .wrapperr {
  background: url("../img/bg/bgStart.jpg") center/cover no-repeat; }

.wrapperr {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.wrapperr::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
}

.no-webp .wrapper {
  background: url("../img/bg/bg.png") center/cover no-repeat; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  z-index: 3;
  padding: 25px 0px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo img {
  width: 80px;
  height: 80px;
}

.logo-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.logo-header__text {
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  color: #00bfff;
}

.logo-header__text span {
  color: white;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.menu__link {
  color: white;
  font-weight: 600;
  font-size: 24px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer {
  z-index: 3;
  padding: 0px 0px 5px 0px;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo img {
  width: 80px;
  height: 80px;
}

.git {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.git__icon {
  display: block;
  width: 100%;
  height: 100%;
}

.git__icon img {
  width: 40px;
  height: 40px;
}

.git__year {
  color: #00bfff;
  font-size: 40px;
}

.page-start,
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page {
  z-index: 3;
}

.page__score {
  font-weight: 700;
  font-size: 30px;
  color: #00bfff;
  text-align: end;
}

.page__score:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.page__btn {
  width: 100%;
  color: #ffff;
  font-size: 20px;
  font-weight: 600;
  padding: 14px 15px 14px 15px;
  border-radius: 20px;
  background-color: rgba(8, 81, 107, 0.3);
  border-bottom: 3px solid #00bfff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0px 0px 30px 0px;
}

.page__btn.active {
  background-color: rgba(0, 191, 255, 0.7);
}

.list-page {
  margin: 0px 0px 30px 0px;
}

.list-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.list-page__item {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  font-size: 22px;
  background-color: rgba(8, 81, 107, 0.3);
  color: white;
  text-align: center;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  border-bottom: 2px solid #00bfff;
}

.list-page__item._active {
  background-color: rgba(0, 191, 255, 0.7);
}

.task-page {
  border-bottom: 2px solid #00bfff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
  background-color: rgba(8, 81, 107, 0.3);
  border-radius: 20px;
  gap: 40px;
}

.task-page:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.task-page__image {
  margin: 0 auto;
}

.task-page__image img {
  border-radius: 15px;
  width: 200px;
  height: 155px;
  -o-object-fit: cover;
     object-fit: cover;
}

.task-page__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.info-task__title {
  text-align: center;
  font-size: 22px;
  color: white;
  border-bottom: 1px solid #00bfff;
  padding: 0px 0px 10px 0px;
}

.info-task__title:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.content-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.content-page:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.content-page__choose {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
}

.content-page__bird {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 55%;
          flex: 1 1 55%;
  background-color: rgba(8, 81, 107, 0.3);
  border-radius: 20px;
  padding: 25px;
}

.choose-content__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.choose-content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: start;
  color: #ffff;
  font-size: 20px;
  font-weight: 600;
  padding: 24px 25px 24px 25px;
  border-radius: 20px;
  background-color: rgba(8, 81, 107, 0.3);
  border-bottom: 2px solid #00bfff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.choose-content__item::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #dbd8d8;
  margin: 0px 10px 0px 0px;
}

.choose-content__item.true::before {
  background-color: #17d00e;
}

.choose-content__item.false::before {
  background-color: #d01e0e;
}

.info-bird {
  border-bottom: 2px solid #00bfff;
}

.info-bird__text-default {
  color: #ffff;
  font-size: 18px;
}

.info-bird__text-default p:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.info-bird__text-default:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.cart-bird {
  display: none;
}

.cart-bird__content:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.cart-bird__text {
  color: #ffff;
  font-size: 18px;
  line-height: 1.3;
}

.content-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.content-cart__image {
  width: 200px;
  height: 155px;
}

.content-cart__image img {
  border-radius: 15px;
  width: 200px;
  height: 155px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-cart__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 75%;
          flex: 1 1 75%;
}

.info-card__name {
  color: #ffff;
  font-size: 22px;
  border-bottom: 1px solid #00bfff;
  padding: 0px 0px 15px 0px;
}

.info-card__english-name {
  color: #ffff;
  font-size: 20px;
  padding: 10px 0px 15px 0px;
  border-bottom: 1px solid #00bfff;
}

.info-card__english-name:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.player-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.bar-player {
  width: 100%;
  position: relative;
}

.bar-player__bar {
  height: 10px;
  min-width: 100%;
}

progress::-webkit-progress-bar {
  border-radius: 50px;
}

progress::-webkit-progress-value {
  background-color: #00bfff;
  border-radius: 50px;
}

.controll-player__play-cart,
.controll-player__play {
  background: url("../img/play.svg");
  display: block;
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.controll-player__play-cart.pause,
.controll-player__play.pause {
  background: url("../img/pause.svg") center/cover no-repeat;
}

.time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  top: 25px;
  color: #00bfff;
}

.time__start {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.result-page__body {
  background-color: rgba(8, 81, 107, 0.3);
  border-bottom: 1px solid #00bfff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 35px;
  border-radius: 20px;
}

.result-page__title {
  color: white;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.result-page__title:not(:last-child) {
  margin: 0px 0px 60px 0px;
}

.result-page__text {
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.3;
}

.result-page__text:not(:last-child) {
  margin: 0px 0px 40px 0px;
}

.result-page__btn-res {
  color: white;
  font-size: 20px;
  font-weight: 400;
  border-bottom: 1px solid #00bfff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  padding: 20px 10px;
  width: 100%;
  border-radius: 20px;
  background-color: rgba(0, 191, 255, 0.3);
}

.page-start {
  z-index: 3;
}

.page-start__body {
  padding-top: calc(10px + 40 * ((100vw - 320px) / 1600));
  padding-bottom: 50px;
}

.page-start__title {
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 38px;
  line-height: 1.3;
}

.page-start__title span {
  font-style: italic;
  color: #00bfff;
}

.page-start__title span span {
  color: white;
}

.page-start__title:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.page-start__description {
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.3;
}

.page-start__description span {
  font-weight: 700;
  font-style: italic;
  color: #00bfff;
}

.page-start__description span span {
  color: white;
}

.page-start__description:not(:last-child) {
  margin: 0px 0px 70px 0px;
}

.click {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.click__text {
  color: white;
  font-weight: 700;
  font-size: 30px;
}

.click__text:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.click__btn {
  margin: 0 auto;
  padding: 20px 75px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
  border-bottom: 2px solid #00bfff;
  border-radius: 20px;
  background-color: rgba(0, 191, 255, 0.9);
  position: relative;
  overflow: hidden;
}

.click__btn::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #00bfff;
  position: absolute;
  bottom: -100%;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
}

@media (min-width: 767.98px) {
  .content-cart__image img {
    width: 100%;
  }
}

@media (max-width: 1140px) {
  .logo-header__text {
    font-size: calc(26px + 6 * ((100vw - 320px) / 820));
  }

  .menu__link {
    font-size: calc(20px + 4 * ((100vw - 320px) / 820));
  }

  .page__score {
    font-size: calc(22px + 8 * ((100vw - 320px) / 820));
  }

  .page__btn {
    font-size: calc(16px + 4 * ((100vw - 320px) / 820));
  }

  .list-page__item {
    font-size: calc(16px + 6 * ((100vw - 320px) / 820));
  }

  .task-page {
    gap: calc(15px + 25 * ((100vw - 320px) / 820));
  }

  .info-task__title {
    font-size: calc(16px + 6 * ((100vw - 320px) / 820));
  }

  .content-page {
    gap: calc(15px + 15 * ((100vw - 320px) / 820));
  }

  .choose-content__item {
    font-size: calc(16px + 4 * ((100vw - 320px) / 820));
  }

  .info-bird__text-default {
    font-size: calc(14px + 4 * ((100vw - 320px) / 820));
  }

  .cart-bird__text {
    font-size: calc(14px + 4 * ((100vw - 320px) / 820));
  }

  .content-cart {
    gap: calc(15px + 5 * ((100vw - 320px) / 820));
  }

  .info-card__name {
    font-size: calc(18px + 4 * ((100vw - 320px) / 820));
  }

  .info-card__english-name {
    font-size: calc(16px + 4 * ((100vw - 320px) / 820));
  }

  .player-info {
    gap: calc(10px + 10 * ((100vw - 320px) / 820));
  }

  .result-page__title {
    font-size: calc(35px + 5 * ((100vw - 320px) / 820));
  }

  .result-page__text {
    font-size: calc(20px + 5 * ((100vw - 320px) / 820));
  }

  .result-page__btn-res {
    font-size: calc(18px + 2 * ((100vw - 320px) / 820));
  }

  .page-start__title {
    font-size: calc(28px + 10 * ((100vw - 320px) / 820));
  }

  .page-start__description {
    font-size: calc(20px + 10 * ((100vw - 320px) / 820));
  }

  .click__text {
    font-size: calc(20px + 10 * ((100vw - 320px) / 820));
  }
}

@media (max-width: 767.98px) {
  .task-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .content-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .page-start__description:not(:last-child) {
    margin: 0px 0px 40px 0px;
  }
}

@media (max-width: 479.98px) {
  .header__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .logo-header {
    margin: 0px 0px 15px 0px;
  }

  .page__score {
    text-align: center;
  }

  .content-cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .result-page__title:not(:last-child) {
    margin: 0px 0px 40px 0px;
  }
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: #00bfff;
  }

  .choose-content__item:hover {
    background-color: rgba(0, 191, 255, 0.7);
  }

  .controll-player__play-cart:hover,
  .controll-player__play:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .result-page__btn-res:hover {
    background-color: rgba(0, 191, 255, 0.8);
  }

  .click__btn {
    background-color: rgba(0, 191, 255, 0.2);
  }

  .click__btn:hover::before {
    bottom: 0;
    opacity: 1;
  }
}

.webp .wrapperr { background: url(../img/bg/bgStart.webp) center/cover no-repeat; }

.webp .wrapper { background: url(../img/bg/bg.webp) center/cover no-repeat; }